# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# production
/build

# environment variables
.env*
!.env.example

# misc
yarn-error.log
node_modules

# Firebase API keys
.firebase

# Sentry API keys
.sentryclirc
