@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

#project-manager {
    
    h1.title {
        text-align: center;

        &#borogove-main-logo {
            font-family: 'Permanent Marker', cursive;
            text-align: left;

            &::after {
                color: #cc0000;
                content: "beta";
                display: inline-block;
                font-size: 1.3rem;
                left: -15px;
                position: relative;
                top: 15px;
                transform: rotate(-19deg);
            }
        }
    }

    // This "skips" layouts that would have 3 cards in a row which doesn't
    // group the languages as well as 1, 2, and 4 groupings
    @media (max-width: 1420px) {
        max-width: 700px;
    }
}

#language-cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
